<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <p>Have a book or author you love? Let us recommend your next great read!
          Enter your favorite book or author below to search.
        </p>

        <form class="clearfix mb-4"> <!--action="resultsPage"-->
          <div class="form-group">
            <input type="text" id="search-text" class="form-control" aria-describedby="search-form"
              placeholder="Search by Book or Author">
          </div>
           <button class="btn waves-effect waves-light" type="submit" id="submit" name="action">Submit</button>
        </form>

<div class="containter">
  <div class="card">
  </div>

    <!-- Begin Favorite Functionality -->

    <!--Dynamically Insert New Books to Favorites List -->
    {{#each booksArray}}
    {{#unless favorited}}
    <form action="book/favorite/{{id}}" method="POST">
      <div class="results-list">
        <li class ="list-group">{{id}}. {
          {this.gbId}}</li>
          <span class="input-group-btn">
            <button class="btn btn-favorite-button" type="submit">Add to Favorites!</button>
          </span>
      </div>
    </form>
    {{/unless}}
    {{/each}}
        
<div class="col-md-4"></div> 

    <!-- Right side -->
    <div class="col-md-4">
      <h3 class="submitFont">Favorite Books</h3>
      <div id="alreadyFavorited">

        <!-- Dynamically Insert Books Here -->
        {{#each books}}
          {{#if this.favorited}}
            <div class="input-group">
              <li class="form-control">{{this.id}}. {{this.book_name}}</li>
            </div>
          {{/if}}
        {{/each}}

    
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>