 <nav>
    <div class="nav-wrapper brown lighten-5">
                   <a href="/" class="brand-logo"><img src="img/bookmatchtop.png" alt="Girl in a jacket" style="width:300px;height:70px;"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

        <li><a href="/" class="black-text"><i class="fas fa-search amber-text"></i> Search</a></li>
        <li><a href="/book/favorite" class="black-text"><i class="fas fa-heart amber-text"></i> Favorites</a></li>
      </ul>

    </div>
  </nav>    

<h3 id="resultstitle">It's a Match!</h3>

<!--Full-Width Carousel w/ Embedded Viewer-->
<div class="resp-container">
    <div class="container">
        <div class="carousel carousel-slider center">
            <!--<div class="carousel-fixed-item center">-->
            <!--</1-><a class="btn btn-small favBtn">Fav Button</a>->
                <! <a class="btn btn-small gitBtn" href="https://github.com/k8blanco">GITHUB</a> -->
            <!--</div>-->
            {{#each booksArray}}
            <div class="row">
                <div class="carousel-item brown lighten-5">
                    <div class="col s6" id="viewerCanvas-{{this.gbISBN}}" data-id="{{this.gbISBN}}"
                        style="width: 50%; height: 100%"></div>
                    <div class="card col s6 push s6 z-depth-0 brown lighten-5" id="details">
                        <p>{{this.gbDetails}}</p>

                        <!--Fav Post Button-->
                        <button data-title="{{this.gbTitle}}" data-author="{{this.gbAuthors}}" data-target="modal1"
                            class="btn favBtn amber modal-trigger"><i class="fas fa-heart"></i> Add to Favorites
                            <i class="fas fa-heart"></i></button>

                    </div>

                    <!-- "Added to Favs" Modal -->
                    <div id="modal1" class="modal">
                        <div class="modal-content">
                            <h4 class="amber-text" id="modalTitle">"{{this.gbTitle}}" by {{this.gbAuthors}}</h4>
                            <h5 id="modalText">added to favorites!</h5>
                            <br>
                            <button class="btn amber" id="favBtnLink"><a href="/book/favorite" class="white-text"><i
                                        class="fas fa-heart"></i> Go to Favorites</a></button>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Awesome!</a>
                        </div>
                    </div>

                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>




<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript" src="https://www.google.com/books/jsapi.js"></script>
<script src="/js/index.js"></script>

<script>

    //carousel scripts
    $(document).ready(function () {
        $(".carousel").carousel();
        $(".modal").modal();

        $(".carousel.carousel-slider").carousel({
            fullWidth: true,
            indicators: true
        });
    });

    $(".favBtn").on("click", function () {
        let title = $(this).data("title");
        let author = $(this).data("author");
        console.log("you clicked me!");

        $.post("book/favorite/",
            {
                title: title,
                body: author
            },
            function (data, status) {
                console.log("posted favorite");
            });
    });

    //embedded viewer scripts
    google.books.load();
    google.books.setOnLoadCallback(initializeViewers);

    //initialize Google View for each book
    function initializeViewers() {

        //loop through each viewer canvas - anything w/ an id starting with "viewerCanvas"
        $("[id^=viewerCanvas]").each(function () {
            //Create a new viewer for each of them
            let isbn = $(this).data("id");
            console.log(isbn);

            //console.log("this: ", $(this));
            //console.log($(this).attr("id"));
            //console.log(this.id);

            //!-- let viewerCanvasDomElemId = "viewerCanvas-" + isbn;
            let googleViewer = new google.books.DefaultViewer(this);

            //Load the viewer for each book using it's ISBN
            googleViewer.load("ISBN:" + isbn, null);
        })
    };

    function alertInitialized() {
        alert("book successfully loaded and initialized!");
    };

    function alertNotFound() {
        alert("could not embed the book!");
    }



</script>