<h3>Recommendations:</h3>
<h2>testing</h2>
<div class="container">
    <div class="card">
        <ul id="results-list" class="list-group">
            {{#each booksArray}}
            <li data-id="{{this.gbId}}" class="list-group-item">
                <span>{{this.gbInfo.title}}</span>
                <button class="btn">Heart!</button>
            </li>
            {{/each}}
        </ul>
    </div>
</div>



<div class="carousel">
    {{#each booksArray}}
    <a class="carousel-item"><img src="{{this.gbInfo.imageLinks.thumbnail}}"></a>
    {{/each}}
    <!-- <div class="carousel-item red white-text" id="book-info" href="#one!">
        <h2>{{this.gbInfo.title}}</h2>
         <h3>{{this.gbInfo.authors}}</h3> 
     </div>  -->
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/index.js"></script>

<script>
    //initialize carousel -- uncomment when ready for carousel
    $(document).ready(function () {
        $(".carousel").carousel();

        //$(".carousel.carousel-slider").carousel({
           // fullWidth: true,
          //  indicators: true
        //}); 
    });


    console.log("initializing carousel");
</script>



<!-- Code for Carousel, getting a simple list to populate first though -->
{{!-- <div class="carousel carousel-slider center">
    <div class="carousel-fixed-item center">
        <a class="btn waves-effect white grey-text darken-text-2">button</a>
    </div>
    <div class="carousel-item red white-text" href="#one!">
        <h2>First Panel</h2>
        <p class="white-text">This is your first panel</p>
    </div>
    <div class="carousel-item amber white-text" href="#two!">
        <h2>Second Panel</h2>
        <p class="white-text">This is your second panel</p>
    </div>
    <div class="carousel-item green white-text" href="#three!">
        <h2>Third Panel</h2>
        <p class="white-text">This is your third panel</p>
    </div>
    <div class="carousel-item blue white-text" href="#four!">
        <h2>Fourth Panel</h2>
        <p class="white-text">This is your fourth panel</p>
    </div>
</div> --}}





{{!-- <h3>Examples:</h3>

        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul> --}}