<h3>Recommendations for You!</h3>

<!--Full-Width Carousel w/ Embedded Viewer-->
<div class="resp-container">
    <div class="container">
        <div class="carousel carousel-slider center">
            {{#each booksArray}}
            <div class="carousel-item red">
                <div id="viewerCanvas-{{this.gbISBN}}" data-id="{{this.gbISBN}}" style="width: 50%; height: 100%"></div>
            </div>
            {{/each}}
            {{#each booksArray}}
            <div class="carousel-item">
                <p>{{this.gbDetails}}</p>
            </div>
            {{/each}}
        </div>
    </div>
</div>

<!--List-->
<!--<div class="container">
    <div class="card">
        <ul id="results-list" class="list-group">
            {{#each booksArray}}
            <li data-id="{{this.gbId}}" class="list-group-item">
                <span>{{this.gbInfo.title}}</span>
                <button class="btn">Heart!</button>
            </li>
            {{/each}}
        </ul>
    </div>
</div>-->

<!--Full-Width Carousel w/ Descriptions-->
{{!-- <div class="container">
    <div class="carousel carousel-slider center">
        {{#each booksArray}}
        <div class="carousel-fixed-item center">
            <!--More Info buttons here??-->
            <a class="btn waves-effect white grey-text darken-text-2">Details</a>
        </div>
        {{/each}}
        {{#each booksArray}}
        <div class="carousel-item red white-text">
            <img src="{{this.gbInfo.imageLinks.thumbnail}}">
            <h2>{{this.gbInfo.title}}</h2>
            <h3>Authors</h3>
            <p class="white-text">Short description</p>
        </div>
        {{/each}}
    </div>
</div> --}}


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript" src="https://www.google.com/books/jsapi.js"></script>
<script src="/js/index.js"></script>

<script>

    //carousel scripts
    $(document).ready(function () {
        $(".carousel").carousel();

        $(".carousel.carousel-slider").carousel({
            fullWidth: true,
            indicators: true
        });
    });

    //embedded viewer scripts
    google.books.load();
    google.books.setOnLoadCallback(initializeViewers);

    //initialize Google View for each book
    function initializeViewers() {

        //loop through each viewer canvas - anything w/ an id starting with "viewerCanvas"
        $("[id^=viewerCanvas]").each(function () {
            //Create a new viewer for each of them
            let isbn = $(this).data("id");
            console.log(isbn);

            //console.log("this: ", $(this));
            //console.log($(this).attr("id"));
            //console.log(this.id);

            //!-- let viewerCanvasDomElemId = "viewerCanvas-" + isbn;
            let googleViewer = new google.books.DefaultViewer(this);

            //Load the viewer for each book using it's ISBN
            googleViewer.load("ISBN:" + isbn, null);
        })
    }
    //function initialize() {
    //var viewer = new google.books.defaultViewer(document.getElementById("viewerCanvas"));
    //viewer.load("ISBN:viewerCanvas", null, alertInitialized);
    //viewer.load("ISBN:1234", alertNotFound);
    //}

    function alertInitialized() {
        alert("book successfully loaded and initialized!");
    }

    function alertNotFound() {
        alert("could not embed the book!");
    }


</script>



<!-- Code for Carousel, getting a simple list to populate first though -->
{{!-- <div class="carousel carousel-slider center">
    <div class="carousel-fixed-item center">
        <a class="btn waves-effect white grey-text darken-text-2">button</a>
    </div>
    <div class="carousel-item red white-text" href="#one!">
        <h2>First Panel</h2>
        <p class="white-text">This is your first panel</p>
    </div>
    <div class="carousel-item amber white-text" href="#two!">
        <h2>Second Panel</h2>
        <p class="white-text">This is your second panel</p>
    </div>
    <div class="carousel-item green white-text" href="#three!">
        <h2>Third Panel</h2>
        <p class="white-text">This is your third panel</p>
    </div>
    <div class="carousel-item blue white-text" href="#four!">
        <h2>Fourth Panel</h2>
        <p class="white-text">This is your fourth panel</p>
    </div>
</div> --}}





{{!-- <h3>Examples:</h3>

        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul> --}}